app_core/__pycache__/
__pycache__/
*.pyc
build/
dist/
*.log
*.zip
*.exe
*.key
*.sqlite3
*.sqlite3-wal
*.sqlite3-shm
config.json
out*.txt
*.gz
danfe_emitente_logo.png
sicredi_logo.png
logo_sicredi.png
